{
    "extends": ["airbnb-base"],
    "rules": {
        "indent": ["error", 4],
        "quotes": ["error", "single"],
        "no-use-before-define": "off",
        "no-param-reassign": "off",
        "import/prefer-default-export": "off"
    }
}
